body
{
 background-color: gold;



}

input
{
 border-radius: 5px;

}

button
{
 border-color: purple;
 border-radius: 10px;



}

ul
{
    text-decoration: line-through;


}

ol
{
   text-decoration-style: wavy;
}
